
*.sdf
*.suo
*.vcxproj.user
*.csproj.user
*.opensdf
ipch
/lib
/debug/UnitTestData/write_dir/
/Tools/WakeOnLan.exe
/Tools/WakeUp.cmd
Release
Debug
!/debug
!/release
Fast Debug
/release_package
AS_DEBUG
/Documentation/html
/debug/*.config
/EditorProtocol/gen-cpp
/EditorProtocol/gen-csharp
/EditorWinForms/gen-csharp
